body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d7fed1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 7px;
  margin: 3%;
  border-radius: 9px;
  border: 3px solid rgb(104, 104, 104);
  background-color: #f1faf7;
}
/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #b3f484, #83b462, #567842, #2e4124, #060f00);
}
.blocks {
  display: block;
  padding: 14px 16px;
}
.linkBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.centerBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* buttons */
.button {
  background-image: linear-gradient(to left, #b9e8b2, #c7edc1, #d5f2d0, #e2f6df, #f0fbee);
  color:rgb(77, 80, 77);
  border: 3px solid rgb(104, 104, 104);
  border-radius: 8px;
  font-size:20px;
}
.buttonVote {
  background-color: #fed6e1;
  color: rgb(34, 58, 32);
  border: 1px solid rgb(118, 111, 120);
  border-radius: 8px;
  margin-left: 12px;
  margin-right: 12px;
  font-size:23px;
}